.genre-aside {
    display: flex;
    flex-direction: column;
    width: 12%;
    padding: 1rem;
    background-color: #313131;
    color: white;
}

.genre-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
    border-bottom: #555454 1px solid;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.genre-list {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.genre-list li {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.genre-list li:hover {
    background-color: #444444;
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

@media screen and (max-width: 1362px) {
    .genre-aside {
        width: 15%;
    }
}

@media screen and (max-width: 1138px) {
    .genre-aside {
        width: 20%;
    }
}

@media screen and (max-width: 832px) {
    .genre-aside {
        padding: 1rem 0.5rem;
        padding-left: 1rem;
    }

    .genre-list {
        padding: 0.5rem;
    }

    .genre-list li {
        padding: 0.5rem 0;
    }
}