a, .no-style-link {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    height: clamp(200vh, 400vh, auto);
}

.header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2a2929;
    color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.User-Portal {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.User-Portal .signup {
    border-right: #ddd 1px solid;
    padding: 0.5rem;
}

.User-Portal .login {
    border-left: #ddd 1px solid;
    padding: 0.5rem;
}

/* Search bar styles */

.search-bar {
    display: flex;
    width: 75%;
    /* border: #ccc 1px solid; */
}

.search-bar form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.3rem;
    position: relative

}

.search-bar input {
    flex: 20 0 20;
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0.4rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.search-bar button {
    position: absolute;
    right: 5px;
    flex-grow: 1;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
}

.search-bar button:hover {
    background-color: #ddd;
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}

.search-bar button img {
    width: 100%;
    height: 1.8rem;
    object-fit: cover;
    text-align: center;
    padding: 0.1rem;
    padding-bottom: 5px;
}

.search-bar button:hover img {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}

footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    gap: 1rem;
}

.tmdb-logo {
    height: 2rem;
}

/* ------------------------------------------------ */

@media screen and (max-width: 895px){
    .search-bar {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .logo {
        margin-bottom: 1rem;
        width: 100%;
        justify-items: flex-start;
    }

    .no-style-link {
        width: 100%;
    }
    
    .User-Portal {
        align-items: center;
        position: absolute;
        right: 0;
        transform: translateY(15%);
        -webkit-transform: translateY(15%);
        -moz-transform: translateY(15%);
        -ms-transform: translateY(15%);
        -o-transform: translateY(15%);
    }

    .search-bar {
        width: 100%;
        padding: 1rem;
    }
    
    .search-bar input {
        width: 95;
    }
    
    .search-bar button {
        width: 10%;
    }

    .search-bar button img {
        object-fit: contain;
    }
    
}

