.movie-area {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #313131;
    width: 90%;
}

.movie-header {
    font-size: 3.4rem;
    font-weight: 600;
    padding: 1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    width: 18rem;
    color: white;
    border-bottom: #555454 1px solid;
    letter-spacing: 0.4px;
    }

.filters {
    display: flex;
    padding: 1rem 0.5rem;
    gap: 2rem;
}

.order-by,
.language-filter {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    background: #555454;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.order-by:hover,
.language-filter:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.order-by select,
.language-filter select {
    background: #3c3c3c;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.order-by option,
.language-filter option {
    background: #3c3c3c;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.page-btn, .pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.page-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-btn:disabled,
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.ellipsis {
    padding: 0 0.5rem;
    color: #888;
}


@media screen and (max-width: 1362px) {
    .movie-area {
        width: 85%;
    }
}

@media screen and (max-width: 1138px) {
    .movie-area {
        width: 80%;
    }
}
